<div class="container-fluid">
        <h1>Bootstrap Enrollment Form</h1>


        <!--
        <p>Values: {{myUser | json}}
                
        <hr/>
        Values: {{userForm.value | json}}
        <hr/>
        -->


        <!--
            validation guides:
            ng-touched - textbox not yet visited/clicked
            ng-touched - textbox visited/clicked (takes effect after onBlur event)
            ng-pristine - value unchanged
            ng-dirty - value changed
            ng-valid - valid values
            ng-invalid - invalid values
        -->


        <!--validations through classname uncomment codes below to see the effect-->
          <!--{{name.className}}-->

          <!--validations through ngModel properties (done through assigning ngModel to the reference variable (#email="ngModel") )-->
          <!--Pristine: {{email.pristine}}<br/>
          Dirty: {{email.dirty}}<br/>
          Touched: {{email.touched}}<br/>
          Untouched: {{email.untouched}}<br/>
          Valid: {{email.valid}}<br/>
          Invalid: {{email.invalid}}-->

        <form #userForm="ngForm">
          <div class="form-group">
            <label for="">Name</label>
            <input type="text" required #namecontrol="ngModel" class="form-control" [class.is-invalid]="namecontrol.invalid && namecontrol.touched" name="name" [(ngModel)]="myUser.name"/>
            <small class="text-danger" [class.d-none]="namecontrol.valid || namecontrol.untouched" >Name is required</small>
          </div>
        
          <div ngModelGroup="address">
            <div class="form-group">
                    <label for="">Street</label>
                    <input type="text" required #streetcontrol="ngModel" class="form-control" 
                    [class.is-invalid]="streetcontrol.invalid && streetcontrol.touched" name="street" [(ngModel)]="myUser.address.street"/>
            </div>
            <div class="form-group">
                    <label for="">City</label>
                    <input type="text" required #citycontrol="ngModel" class="form-control" 
                    [class.is-invalid]="citycontrol.invalid && citycontrol.touched" name="city" [(ngModel)]="myUser.address.city"/>
            </div>
            <div class="form-group">
                    <label for="">Province</label>
                    <input type="text" required #provincecontrol="ngModel" class="form-control" 
                    [class.is-invalid]="provincecontrol.invalid && provincecontrol.touched" name="province" [(ngModel)]="myUser.address.province"/>
            </div>
          </div>

          <div class="form-group">
              <label for="">Email</label>
              <input type="email" required #emailcontrol="ngModel"  class="form-control" 
              [class.is-invalid]="emailcontrol.invalid && emailcontrol.touched" name="email" [(ngModel)]="myUser.email"/>
          </div>

          <div class="form-group">
              <label for="">Phone</label>
              <input type="tel" required pattern='^\d{10}$' #phonecontrol="ngModel" class="form-control" 
              [class.is-invalid]="phonecontrol.invalid && phonecontrol.touched" name="phone" [(ngModel)]="myUser.phone"/>
              <div *ngIf="phonecontrol.errors && (phonecontrol.required || phonecontrol.touched)">
                  <small *ngIf="phonecontrol.errors.required" >Phone is required</small>
                  <small *ngIf="phonecontrol.errors.pattern" >Must be 10 digits and numeric</small>
              </div>
          </div>

          <div class="form-group">
                <select #selTopic="ngModel" (blur)="validateSelect(selTopic.value)" (change)="validateSelect(selTopic.value)" 
                [class.is-invalid]="selectHasError && selTopic.touched" name="topic"  id="" class="custom-select" [(ngModel)]="myUser.topic">
                    <option value="default" selected>I am interested in</option>
                    <option *ngFor="let topic of topics">{{topic}}</option>
                </select>
                <small class="text-danger" [class.d-none]="!selectHasError || selTopic.untouched" >Select a topic</small>
          </div>

          <div class="mb-3">
              <label for="">Time preference</label>
              <div class="form-check">
                  <input type="radio" name="timePreference" id="" class="form-check-input" value="" [(ngModel)]="myUser.timePreference">
                  <label for="" class="form-check-label">Morning (9AM - 12PM)</label>
              </div>
              <div class="form-check">
                    <input type="radio" name="timePreference" id="" class="form-check-input" value="evening" [(ngModel)]="myUser.timePreference">
                    <label for="" class="form-check-label">Evening (5PM - 8PM)</label>
                </div>
          </div>

          <div class="form-check mb-3">
              <input type="checkbox" class="form-check-input" name="subscribe" [(ngModel)]="myUser.subscribe">
              <label class="form-check-label">
                Send me promotional offers
              </label>
          </div>
          
          <button type="submit" class="btn btn-primary">Submit form</button>

        </form>
      </div>
